/* html {
  overflow: auto;
  height: 100%;
  width: 100%;
} */
body {
  font-family: "標楷體";
  font-size: 17px;
  position: relative;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.wholeBG {
  width: 100%;
  height: 100%;
  /* opacity: .5; */
  position: absolute;
}

.navbar {
  background-color: #fbdea8;
  display: flex;
  justify-content: center;
  flex: 0.5;
  width: 100%;
  padding: 2px 0px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.nav {
  min-width: 720px
}

.nav-link {
  color: #40210f;
  font-size: 1.2em;
  transition: .2s;
  /* font-weight: bolder; */
}

.nav-link:hover {
  color: #40210fA0;
}

.nav-link.active {
  color: #40210fA0;
}

.article {
  position: relative;
  width: 1200px;
  flex: 14;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashline {
  display: inline-block;
  width: 150px;
  height: 0px;
  box-shadow: 0px 0px 0px 1px #0000005A
}

.title,
.servive {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  border-radius: 15px;
}

.title {
  margin: 75px auto 50px;
}

.servive {
  margin-top: 50px;
  flex-direction: column;
  background-color: #fefaf0;
  padding: 30px;
  max-width: 1045px;
}

.main-image {
  margin-bottom: 30px;
  box-shadow: 5px 5px 7px 0px silver;
}

.banner {
  position: absolute;
  top: -0px;
  left: 435px;
  transform: scale(1.02);
  z-index: 2;
  opacity: .7;
  transition: .2s
}

.footer {
  flex: 2;
  background-color: #f8efee;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer table {
  min-width: 680px;
  font-size: 1em;
}

.centername {
  position: relative;
  font-size: 2em;
  width: 500px;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
}

.innerText {
  position: absolute;
  top: 40px;
  width: 500px;
  color: #d0812f;
  text-align: center;
  font-size: 0.7em;
  left: 0px;
}

.servive-content {
  margin-top: 30px;
  border-radius: 5px;
  font-size: 1.5em;
  position: relative;
  /* z-index: 999; */
}

.servive-content span {
  display: block;
  margin-bottom: -20px;
}

#p1, #p2, #p3, #p4 {
  position: absolute;
  box-shadow: 4px 4px 12px 5px #ababab;
}

#p1 {
  top: 830px;
  left: 20px;
}

#p2 {
  top: 830px;
  left: 550px;
}

#p3 {
  top: 1390px;
  left: 550px;
}

#p4 {
  top: 1030px;
  left: 550px;
}
